body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
header {
    background: #ffffff;
    color: #BA181B;
    font-family:'Poppins', sans-serif;
    text-align: center;
    border-radius: 10px;
    margin: 5px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
    padding: 20px;
}
header img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: auto;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 16px;
}
.navbar a {
    color: red;
    text-decoration: none;
    margin: 0 15px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.text {
    max-width: 50%;
}
.text h1 {
    color: red;
    font-size: 36px;
    margin-right: 10;
}
.order-btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.image-container {
    position: relative;
}
.image-container img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
}