body {
    font-family: 'Reggae One', cursive;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
header {
    background: #344e41;
    color: #dad7cd;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
}
header img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    font-size: 14px;
}
.navbar a {
    color: #BA181B;
    text-decoration: none;
    font-weight: bold;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
.text {
    max-width: 50%;
}
.text h1 {
    color: #BA181B;
    font-size: 36px;
}
.order-btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
}
.image-container img {
    width: 100%;
    max-width: 600px;
    shape-outside: circle();
    
}